name: Publish release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version number to tag and release"
        required: true
        type: string
      prerelease:
        description: "Release as pre-release"
        required: false
        type: boolean
        default: false

jobs:
  build:
    strategy:
      matrix:
        include:
          - name: Linux
            os: ubuntu-latest
            artifact: cambi-linux
            path: target/release/cambi
          - name: Windows
            os: windows-latest
            artifact: cambi-windows
            path: target/release/cambi.exe
          - name: MacOS (Apple Silicon)
            os: macos-latest
            artifact: cambi-macos-arm
            path: target/release/cambi
          - name: MacOS (Apple Intel)
            os: macos-15-intel
            artifact: cambi-macos-intel
            path: target/release/cambi
    name: "Build ${{ matrix.name }}"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Restore cached dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: cargo-${{ hashFiles('**/Cargo.toml') }}-${{ hashFiles('**/Cargo.lock') }}
      - name: Build executable
        run: |
          cargo run -- update ${{ inputs.version }}
          cargo build --release
      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: ${{ matrix.path }}

  release:
    name: Release
    environment: main
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 0
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Setup cargo OIDC
        uses: rust-lang/crates-io-auth-action@v1
        id: auth
      - name: Configure git
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
      - name: Prepare assets
        run: |
          mkdir -p /tmp/release
          mv artifacts/cambi-linux/cambi /tmp/release/cambi-linux
          mv artifacts/cambi-macos-intel/cambi /tmp/release/cambi-macos-intel
          mv artifacts/cambi-macos-arm/cambi /tmp/release/cambi-macos-arm
          mv artifacts/cambi-windows/cambi.exe /tmp/release/cambi-windows.exe
          chmod +x /tmp/release/cambi-linux /tmp/release/cambi-macos-intel /tmp/release/cambi-macos-arm
      - name: Create release
        run: |
          /tmp/release/cambi-linux changelog ${{ inputs.version }}
          /tmp/release/cambi-linux update ${{ inputs.version }}
          /tmp/release/cambi-linux release -n > /tmp/release-notes.txt
      - name: Publish on crates.io
        run: |
          cargo generate-lockfile
          git add Cargo.toml Cargo.lock CHANGELOG.md
          git commit -m "chore: Updated version."
          git tag -f "v${{ inputs.version }}"
          cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
      - name: Publish on GitHub
        run: |
          git push origin && git push origin -f --tags
          gh release create "v${{ inputs.version }}" -t "${{ inputs.version }}" ${{ github.event.inputs.prerelease == 'true' && '--prerelease' || '' }} -F /tmp/release-notes.txt /tmp/release/*
        env:
          GH_TOKEN: ${{ github.token }}
